

:root{

--space-blue: #000028;
--star: rgba(255,255,255,0.7);
--text-dark: $space-blue;
--text-light: #eee;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000028;
  min-height: 100vh;
  background-image:  
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%), 
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%), 
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%),
  radial-gradient(circle, rgba(255,255,255,0.7) 20%, transparent 30%);
  background-size: 4px 4px, 3px 3px, 5px 5px, 3px 3px, 6px 6px, 4px 4px, 5px 5px, 4px 4px, 6px 6px, 3px 3px, 5px 5px, 4px 4px, 3px 3px, 6px 6px, 5px 5px, 4px 4px, 5px 5px, 6px 6px;
  background-position: 20% 10%, 5% 20%, 10% 75%, 22% 35%, 30% 30%, 40% 50%, 45% 20%, 65% 20%, 85% 30%, 98% 90%, 20% 80%, 50% 80%, 75% 80%, 89% 75%, 90% 95%, 60% 70%, 65% 40%, 90% 20% ;
  background-repeat: no-repeat;
  animation: twinkle ease-in 0.3s infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes twinkle {
  to {
      background-image:
          radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
          radial-gradient(circle, #fff 20%, transparent 30%),
          radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
          radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
          radial-gradient(circle, #fff 20%, transparent 30%),
          radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
          radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
          radial-gradient(circle, #fff 20%, transparent 30%),
          radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
          radial-gradient(circle, #fff 20%, transparent 30%),
          radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
          radial-gradient(circle, #fff 20%, transparent 30%),
          radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
          radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
          radial-gradient(circle, #fff 20%, transparent 30%),
          radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
          radial-gradient(circle, #fff 20%, transparent 30%),
          radial-gradient(circle, #fff 20%, transparent 30%);
  }
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 62.5%;
}
